<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Tu Rol:</h1>
</head>
<body>
<section layout="row"  layout-align="center center" layout-wrap>
    <md-button class="md-raised md-primary" ng-click="nextRegistroC()">Cliente</md-button>
    <md-button class="md-raised md-primary" ng-click="nextRegistroT()">Tendero</md-button>
</section>
<section layout="row" layout-sm="column" layout-align="center end" layout-wrap>

    <div class="label">Raised</div>
</section>

</body>
</html>