<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="vistaPrincipal/vistaPrincipal.css">
    <meta charset="UTF-8">
</head>
<body>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <img src="images/cheapestPrice.jpg">
    <md-button class="md-raised md-primary" ng-click="nextRegistro()">Registrate!</md-button>
    <md-button class="md-raised md-primary" ng-click="nextLogin()">Inicia Sesion</md-button>
</section>
<section layout="row" layout-sm="column" layout-align="center end" layout-wrap>

    <div class="label">Raised</div>
</section>

</body>
</html>