<!--div  ng-show="authenticated"-->
    <h1>Sedes de la tienda {{tienda}}</h1>
    <p>LOGO DE LA TIENDA (PROXIMAMENTE)</p>
    <div class="table-responsive ">
        <table class="table table-condensed table-hover">
            <theader>
                <tr>
                    <th>
                        <a ng-click="sortBy('categoria')">Nombre</a>
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th></th>
                </tr>
            </theader>
            <tbody>
                <tr ng-repeat="place in sedes  | orderBy:propertyName:reverse">
                    <td>{{place.nombre}} </td>
                    <td>{{place.direccion}}</td>
                    <td><md-button class="md-primary md-raised" ng-click="next(place.nombre)" >Seleccionar</md-button></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--/div-->
<!--div  ng-show="!authenticated">
    <h1>No tiene autorización para acceder</h1>
</div-->