<div ng-controller="shopListCtrl">
    <table class="table table-condensed table-hover">
        <theader>
            <tr>
                <th>
                    <md-button ng-click="sortBy('producto')">Producto</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('precio')">Precio</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('tienda')">Tienda</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('direccion')">Dirección</md-button>
                </th>
                <th>
                   <p>Detalles</p>
                </th>
                <th>
                    <p>Comprado</p>
                </th>
                <th>
                    <p>Favoritos</p>
                </th>
                <th>
                </th>
            </tr>
        </theader>
        <tbody>
        <tr ng-repeat="todo in listado  | orderBy:propertyName:reverse">
            <td>{{todo.producto}}</td>
            <td>{{todo.precio}}</td>
            <td>{{todo.tienda}}</td>
            <td>{{todo.direccion}}</td>
            <td><button ng-click="detalles()">Detalles</button></td>
            <td><button ng-click="comprado()">Comprado</button></td>
            <td><button ng-click="favoritos()">Fav</button></td>
            <td><button ng-click="eliminar()">Eliminar</button></td>
        </tr>
        </tbody>
    </table>
</div>