<div ng-controller="shopListCtrl">
    <table class="table table-condensed table-hover">
        <theader>
            <tr>
                <th>
                    <md-button ng-click="sortBy('categoria')">Categoría</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('nombre')">Nombre</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('marca')">Marca</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('precio')">Precio</md-button>
                </th>
                <th>
                    <p>Foto</p>
                </th>
                <th>
                </th>
            </tr>
        </theader>
        <tbody>
        <tr ng-repeat="todo in listado  | orderBy:propertyName:reverse">
            <td>{{todo.categoria}}</td>
            <td>{{todo.nombre}}</td>
            <td>{{todo.marca}}</td>
            <td>${{todo.precio}}</td>
            <td class="danger">PROXIMAMENTE</td>
            <td><button ng-click="eliminar()">Eliminar</button></td>
        </tr>
        </tbody>
    </table>
</div>