<!--div  ng-show="authenticated"-->
    <h1>Productos de la tienda {{tienda}} sede {{sede}}</h1>
    <p>LOGO DE LA TIENDA (PROXIMAMENTE)</p>
    <div class="table-responsive ">
        <table class="table table-condensed table-hover">
            <theader>
                <tr>
                    <th>
                        <md-button ng-click="sortBy('categoria')">Categoría</md-button>
                    </th>
                    <th>
                        <md-button ng-click="sortBy('nombre')">Nombre</md-button>
                    </th>
                    <th>
                        <md-button ng-click="sortBy('marca')">Marca</md-button>
                    </th>
                    <th>
                        <md-button ng-click="sortBy('precio')">Precio</md-button>
                    </th>
                    <th>
                        <p>Foto</p>
                    </th>
                </tr>
            </theader>
            <tbody>
                <tr ng-repeat="todo in listado  | orderBy:propertyName:reverse">
                    <td>{{todo.categoria}}</td>
                    <td>{{todo.nombre}}</td>
                    <td>{{todo.marca}}</td>
                    <td>${{todo.precio}}</td>
                    <td class="danger">PROXIMAMENTE</td>
                </tr>
            </tbody>
        </table>
    </div>
<!--/div-->
<!--div  ng-show="!authenticated">
    <h1>No tiene autorización para acceder</h1>
</div-->