<div ng-controller="shopListCtrl">
    <h1>{{listado.nombre}}</h1>
    <table class="table table-condensed table-hover">
        <theader>
            <tr>
                <th><center>
                    <md-button ng-click="sortBy('producto.nombre')">Producto</md-button>
                    </center>
                </th>
                <th><center>
                    <md-button ng-click="sortBy('producto.precio')">Precio</md-button>
                    </center>
                </th>
                <th><center>
                    <md-button ng-click="sortBy('producto.tienda')">Tienda</md-button>
                    </center>
                </th>
                <th><center>
                   <p>Detalles</p>
                    </center>
                </th>
                <th><center>
                    <p>Comprado</p>
                    </center>
                </th>
                <th><center>
                    <p>Favoritos</p>
                    </center>
                </th>
                <th>
                </th>
            </tr>
        </theader>
        <tbody>
        <tr ng-repeat="todo in listado.items  | orderBy:propertyName:reverse">
            <td><center>{{todo.producto.nombre}}</center></td>
            <td><center>{{todo.producto.precio}}</center></td>
            <td><center>{{todo.tienda.nombre}}</center></td>
            <td>
                <md-button class="md-primary md-raised" ng-click="showAdvanced($event,todo)">
                    Detalles
                </md-button>
            </td>
            <td>
                <center>
                <md-checkbox ng-model="todo.producto.comprado" aria-label="Checkbox" ng-click="comprado(todo.producto.id, todo.tienda.nombre, listado.nombre)">
                </md-checkbox>
                </center>
            </td>
            <td><center>
                <div class="presentation">
                    <button-favorite></button-favorite>
                </div>
                </center>
            </td>
            <td><center><button ng-click="eliminar(todo.producto.id, todo.tienda.nombre, listado.nombre)">Eliminar</button></center></td>
        </tr>
        </tbody>
    </table>
</div>