<div ng-controller="shopListCtrl">
    <h1>Mi lista de mercado</h1>
    <table class="table table-condensed table-hover">
        <theader>
            <tr>
                <th>
                    <md-button ng-click="sortBy('producto')">Producto</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('precio')">Precio</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('tienda')">Tienda</md-button>
                </th>
                <th>
                    <md-button ng-click="sortBy('direccion')">Dirección</md-button>
                </th>
                <th>
                   <p>Detalles</p>
                </th>
                <th>
                    <p>Comprado</p>
                </th>
                <th>
                    <p>Favoritos</p>
                </th>
                <th>
                </th>
            </tr>
        </theader>
        <tbody>
        <tr ng-repeat="todo in listado  | orderBy:propertyName:reverse">
            <td>{{todo.producto}}</td>
            <td>{{todo.precio}}</td>
            <td>{{todo.tienda}}</td>
            <td>{{todo.direccion}}</td>
            <td>
                 <button ng-click="detalles()">+</button>
            </td>
            <td>
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox" ng-click="comprado(todo.id, data.cb1)">
                </md-checkbox>
            </td>
            <td>
                <div class="presentation">
                    <button-favorite></button-favorite>
                </div>
            </td>
            <td><button ng-click="eliminar(todo.id)">Eliminar</button></td>
        </tr>
        </tbody>
    </table>
</div>